{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}

<table class="table table-striped  table-hover table-condensed">
    <thead>
        <tr>
            <th class="td-name">Name</th>
            <th class="td-name">URL</th>
            <th>Network Interface</th>
            <th>Max Duration</th>
            <th>Max Size</th>
            <th>Start Time</th>
            <th>Status</th>
            <th class="center">Actions</th>
            <th class="center">Delete</th>
            <th class="td-add"><a href="#" class="fa fa-plus-square fa-lg plus-button showCreateModal"></th>
        </tr>
    </thead>
    <tbody>
    {{#each configurations}}
        <tr>
            <td title="{{title}}" class="td-name showUpdateModal" name={{id}}>{{title}}</td>
            <td title="{{url}}" class="td-name showUpdateModal" name={{id}}><a name={{id}}>{{url}}</a></td>
            <td class="showUpdateModal" name={{id}}>
                {{#if networkInterface}}
                    {{networkInterface}}
                {{else}}
                    n/a
                {{/if}}
            </td>
            <td title="{{elapsedTimeRolloverCondition}}" class="showUpdateModal" name={{id}}>{{elapsedTimeRolloverCondition}} min</td>
            <td title="{{megabyteCountRolloverCondition}}" class="showUpdateModal" name={{id}}>{{megabyteCountRolloverCondition}} MB</td>
            <td title="{{startTime}}" class="showUpdateModal startTime" name={{id}}>{{startTime}}</td>
            <td title="{{running}}" class="showUpdateModal" name={{id}}>
                {{#if running}}
                    Running
                {{else}}
                    Stopped
                {{/if}}
            </td>
            <td class="center">
                {{#if running}}
                    <button name={{id}} type="button" class="btn-danger td-btn stopMonitoring"><i name={{id}} class="fa fa-stop td-i" aria-hidden="true"></i></button>
                {{else}}
                    <button name={{id}} type="button" class="btn-success td-btn startMonitoring"><i name={{id}} class="fa fa-play td-i" aria-hidden="true"></i></button>
                {{/if}}
            </td>
            <td class="center"><a href="#" name={{id}} class="glyphicon glyphicon-remove deleteicon" style="text-decoration:none;"></td>
        </tr>
    {{/each}}
    </tbody>
</table>
<div class="updateModalRegion"></div>